<div>

  <div class="d-flex justify-content-between">
    <h4>Categoría</h4>
    <a href="#" routerLink="/categoria/index" class="btn">Volver</a>
  </div>

  <hr/>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="titulo">Titulo:</label>
        <input
          formControlName="titulo"
          id="titulo"
          type="text"
          class="form-control">
        <div *ngIf="f.titulo.touched && f.titulo.invalid" class="alert alert-danger">
          <div *ngIf="f.titulo.errors.required">*Titulo es requerido.</div>
          <div *ngIf="f.titulo.errors.pattern">*El titulo sólo puede contener letras.</div>
        </div>
      </div>
      <div class="col-md-6 ">
        <label for="descripcion">Descripcion:</label>
        <input
          formControlName="descripcion"
          id="descripcion"
          type="text"
          class="form-control">
        <div *ngIf="f.descripcion.touched && f.descripcion.invalid" class="alert alert-danger">
          <div *ngIf="f.descripcion.errors.required">*Descripcion es requerido.</div>
          <div *ngIf="f.descripcion.errors.pattern">*El descripcion sólo puede contener letras.</div>
        </div>
      </div>
      <div class="col-md-6 ">
        <label for="anyoLanzamiento">Año de lanzamiento:</label>
        <input
          formControlName="anyoLanzamiento"
          id="anyoLanzamiento"
          type="date"
          class="form-control">
        <div *ngIf="f.anyoLanzamiento.touched && f.anyoLanzamiento.invalid" class="alert alert-danger">
          <div *ngIf="f.anyoLanzamiento.errors.required">*Año de lanzamiento es requerido.</div>
          <div *ngIf="f.anyoLanzamiento.errors.pattern">*El año de lanzamiento sólo puede contener letras.</div>
        </div>
      </div>
      <div class="col-md-6 ">
        <label for="idioma">Idioma:</label>
        <input
          formControlName="idioma"
          id="idioma"
          type="text"
          class="form-control">
        <div *ngIf="f.idioma.touched && f.idioma.invalid" class="alert alert-danger">
          <div *ngIf="f.idioma.errors.required">*Idioma es requerido.</div>
          <div *ngIf="f.idioma.errors.pattern">*El idioma sólo puede contener letras.</div>
        </div>
      </div>
      <div class="col-md-6 ">
        <label for="duracion">Duracion:</label>
        <input
          formControlName="duracion"
          id="duracion"
          type="text"
          class="form-control">
        <div *ngIf="f.duracion.touched && f.duracion.invalid" class="alert alert-danger">
          <div *ngIf="f.duracion.errors.required">*Duracion es requerido.</div>
          <div *ngIf="f.duracion.errors.pattern">*La duracion sólo puede contener letras.</div>
        </div>
      </div>
      <div class="col-md-6 ">
        <label for="categoria">Categoria:</label>
        <input
          formControlName="categoria"
          id="categoria"
          type="text"
          class="form-control">
        <div *ngIf="f.categoria.touched && f.categoria.invalid" class="alert alert-danger">
          <div *ngIf="f.categoria.errors.required">*Categoria es requerido.</div>
          <div *ngIf="f.categoria.errors.pattern">*La categoria sólo puede contener letras.</div>
        </div>
      </div>
    </div>

    <button class="btn btn-primary mt-1" type="submit" [disabled]="!form.valid">Enviar</button>
  </form>
</div>
