<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Detalle Comercial</title>
<style>
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

</style>
</head>
<body>

<div id="contenedora" style="float:none; margin: 0 auto;width: 900px;" >
	<form th:action="@{/pedido/crear}" th:object="${pedido}" method="post">
		<div class="clearfix">
			<div style="float: left; width: 50%">
				<h1 th:text="#{pedido}"></h1>
			</div>
			<div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">
				
				<div style="position: absolute; left: 39%; top : 39%;">								
					<input type="submit" th:value="#{crear}"/>
				</div>
				
			</div>
		</div>
		
		<div class="clearfix">
			<hr/>
		</div>
		<div style="margin-top: 6px;" class="clearfix">
			<div style="float: left;width: 50%">
				<label>Total</label>
			</div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:field="*{total}"/>
			</div>
		</div>
		
		<div style="margin-top: 6px;" class="clearfix">
			<div style="float: left;width: 50%" th:text="#{fecha}">
			</div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input type="date" th:field="*{fecha}" />
				<ul th:if="${#fields.hasErrors('fecha')}">
					<li th:each="err : ${#fields.errors('fecha')}" th:text="${err}" class="error" />
				</ul>
			</div> 
		</div>

		<div style="margin-top: 6px;" class="clearfix">
			<div style="float: left;width: 50%">
				<label>Id_Cliente</label>
			</div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:field="*{id_cliente}" />
			</div>
		</div>

		<div style="margin-top: 6px;" class="clearfix">
			<div style="float: left;width: 50%">
				<label>Id_Comercial</label>
			</div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:field="*{id_comercial}"/>
			</div>
		</div>

	</form>
</div>

</body>
</html>