<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>DemoTH</title>
  <style>

  </style>
</head>
<body>

<a th:href="@{/registrar}" >Registrar</a>
<br/>
<br/>
<!-- QUERY PARAMs -->
<a th:href="@{/libros(id=${libro.id},titulo=${libro.titulo})}" th:text="'Ver libro: '+${libro.titulo}">Ver libro</a>
<br/>
<br/>
<a th:href="@{/libros/{id}/editar(id=${libro.id})}" th:text="'Editar libro: '+${libro.titulo}">Editar libro</a>

</body>
</html>
