<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Peliculas</title>
    <style>
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }

    </style>
</head>
<body>
<body>

<div id="contenedora" style="float:none; margin: 0 auto;width: 95%;" >
    <div class="clearfix">
        <div style="float: left; width: 50%">
            <h1>Pelicula</h1>
        </div>
        <div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">

            <div style="position: absolute; left: 39%; top : 39%;">

                <form action="/peliculas/crear">
                    <input type="submit"  th:value="crear">
                </form>
            </div>

        </div>
    </div>
    <div class="clearfix">
        <hr/>
    </div>
    <div class="clearfix">
        <div style="float: left;width: 14%">Id</div>
        <div style="float: left;width: 14%" th:text="Titulo"></div>
        <div style="float: left;width: 14%" th:text="Descripcion"></div>
        <div style="float: left;width: 14%" th:text="Anyo_lanzamiento"></div>
        <div style="float: left;width: 14%" th:text="Idioma"></div>
        <div style="float: left;width: 14%" th:text="Duracion"></div>
        <div style="float: left;width: 14%" th:text="Categoria"></div>
        <div style="float: none;width: auto;overflow: hidden;"  th:text="Accion"></div>
    </div>
    <div class="clearfix">
        <hr/>
    </div>

    <div  th:each="peliculaDTO : ${listaPeliculaDTO}" style="margin-top: 6px;" class="clearfix">
        <div style="float: left;width: 14%" th:text="${peliculaDTO.id_pelicula}">id_pelicula</div>
        <div style="float: left;width: 14%" th:text="${peliculaDTO.titulo}">titulo</div>
        <div style="float: left;width: 14%" th:text="${peliculaDTO.descripcion}">descripcion</div>
        <div style="float: left;width: 14%" th:text="${peliculaDTO.idioma ?: '&nbsp;'}">idioma</div>
        <div style="float: left;width: 14%" th:text="${peliculaDTO.duracion}">duracion</div>
       <!-- <div th:each="categoria :${categoriaPeliculasDTOS}"
        th:if="categoria.id_pelicula == peliculaDTO.id_pelicula" th:text="${categoria.categoria}">

        </div>-->
        <div style="float: none;width: auto;overflow: hidden;">
            <form th:action="@{/peliculas/__${peliculaDTO.id_pelicula}__}" style="display: inline;">
                <input type="submit"  value="Ver Detalles" />
            </form>
            <form th:action="@{/peliculas/editar/}+${peliculaDTO.id_pelicula} " style="display: inline;">
                <input type="submit"  th:value="Editar" />
            </form>
            <form th:action="@{/peliculas/borrar/__${peliculaDTO.id_pelicula}__}" method="post" style="display: inline;">
                <input type="submit"  th:value="Eliminar" />
            </form>
        </div>
    </div>
</div>
</body>
</body>
</html>